body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin: 0 auto;
    width: 68%;
}
.container2{
    width: 100%;
    background-color: lightskyblue;
}
.container3{
    width: 100%;
    background-color: #d3d3d3;
}
header{
    margin-top: 100px;
}

h1{
    font-size: xxx-large;
    text-shadow: 1px 1px #929090;
}

.flex{
    display: flex;
}
.befornafterbox{
    padding: 23px;
    width: 610px;
    height: 415px;
}
.screen{
    padding: 100px;
}
.screen img{
    height: 700px;
    width: auto;
}

a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

.footerlink1{
    padding: 30px;
    border-right: solid rgb(204, 199, 199);
    width: 591px;
    text-align: center;
}
.footerlink2{
    padding: 30px;
    width: 591px;
    text-align: center;
}